.card-container {
  background-color: #c9ddf8;
  max-width: 30rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
